In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('owid-covid-data.csv')
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19491,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19492,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19493,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19494,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19495,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_p = data.pivot(index='location',columns='date',values='total_cases')

In [7]:
data_p.to_csv('world_pivot.csv')

In [8]:
country = pd.read_csv('country.csv')
country

        Country Name   region                                   Image URL
0             Angola   Africa  https://www.countryflags.io/ao/flat/64.png
1            Burundi   Africa  https://www.countryflags.io/bi/flat/64.png
2              Benin   Africa  https://www.countryflags.io/bj/flat/64.png
3       Burkina Faso   Africa  https://www.countryflags.io/bf/flat/64.png
4           Botswana   Africa  https://www.countryflags.io/bw/flat/64.png
..               ...      ...                                         ...
210  Solomon Islands  Oceania  https://www.countryflags.io/sb/flat/64.png
211            Tonga  Oceania  https://www.countryflags.io/to/flat/64.png
212           Tuvalu  Oceania  https://www.countryflags.io/tv/flat/64.png
213          Vanuatu  Oceania  https://www.countryflags.io/vu/flat/64.png
214            Samoa  Oceania  https://www.countryflags.io/ws/flat/64.png

[215 rows x 3 columns]

In [12]:
data_p = pd.read_csv('world_pivot.csv')
data_p

,location,2019-12-31,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,...,2020-05-15,2020-05-16,2020-05-17,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5339.0,6402.0,6402.0,6664.0,7072.0,7653.0,8145.0,8676.0,9216.0,9998.0
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,898.0,916.0,933.0,946.0,948.0,949.0,964.0,969.0,981.0,989.0
2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6442.0,6629.0,6821.0,7019.0,7201.0,7377.0,7542.0,7728.0,7918.0,8113.0
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,761.0,761.0,761.0,761.0,761.0,761.0,762.0,762.0,762.0,762.0
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,48.0,48.0,48.0,48.0,50.0,52.0,58.0,60.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,Vietnam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,312.0,313.0,318.0,320.0,324.0,324.0,324.0,324.0,324.0,324.0
207,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
208,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.0,106.0,124.0,128.0,130.0,167.0,180.0,193.0,205.0,212.0
209,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,654.0,668.0,679.0,753.0,761.0,772.0,832.0,866.0,920.0,920.0
210,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.0,42.0,44.0,46.0,46.0,46.0,48.0,51.0,56.0,56.0

In [13]:
world_join = pd.merge(data_p,country,how='left',left_on='location',right_on='Country Name',right_index=False)
world_join

,location,2019-12-31,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,...,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,Country Name,region,Image URL
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6664.0,7072.0,7653.0,8145.0,8676.0,9216.0,9998.0,Afghanistan,Asia,https://www.countryflags.io/af/flat/64.png
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,946.0,948.0,949.0,964.0,969.0,981.0,989.0,Albania,Europe,https://www.countryflags.io/al/flat/64.png
2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7019.0,7201.0,7377.0,7542.0,7728.0,7918.0,8113.0,Algeria,Africa,https://www.countryflags.io/dz/flat/64.png
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,761.0,761.0,761.0,762.0,762.0,762.0,762.0,Andorra,Europe,https://www.countryflags.io/ad/flat/64.png
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,48.0,50.0,52.0,58.0,60.0,60.0,Angola,Africa,https://www.countryflags.io/ao/flat/64.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,Vietnam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,320.0,324.0,324.0,324.0,324.0,324.0,324.0,Vietnam,Asia,https://www.countryflags.io/vn/flat/64.png
207,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,NaN,NaN,NaN
208,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128.0,130.0,167.0,180.0,193.0,205.0,212.0,NaN,NaN,NaN
209,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,753.0,761.0,772.0,832.0,866.0,920.0,920.0,Zambia,Africa,https://www.countryflags.io/zm/flat/64.png
210,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.0,46.0,46.0,48.0,51.0,56.0,56.0,Zimbabwe,Africa,https://www.countryflags.io/zw/flat/64.png

In [15]:
world_join.to_csv('world_join.csv',index=False)